body{
  border: 20px solid darkred;
  padding: 20px;

}
header h1{
color:darkred;
font-size: 21px;
font-style: oblique,italic;
font-family:monospace;
text-align: center;
text-decoration:none;
}
a{
    text-shadow:2px 5px red;
	direction:right;
aside{
  text-align: center;
  text-decoration:none;
}
